/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./Pages/Home/wp3742844-sunset-city-wallpapers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}